<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head')-%>
  <body 
  style="
    background-image: url('https://wallpaperaccess.com/full/264293.jpg');
    background-size: contain;">
    <div class="container position-sticky z-index-sticky top-0">
      <div class="row">
        <div class="col-12">
          <nav
            class="navbar navbar-expand-lg blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4"
          >
            <div class="container-fluid px-0">
              <img class="w-7 " src="./img/7.png">
              <button
                class="navbar-toggler shadow-none ms-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navigation"
                aria-controls="navigation"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon mt-2">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </span>
              </button>
              <div
                class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100"
                id="navigation"
              >
                <ul class="navbar-nav navbar-nav-hover ms-auto">
                  <li class="nav-item my-auto ms-3 ms-lg-0">
                    <a href="/profile"
            ><button type="button" class="btn btn-sm bg-gradient-primary mb-0 me-1 mt-2 mt-md-0">
              Profile
            </button></a
          >
                    <a
                      href="/logout"
                      class="btn btn-sm bg-gradient-primary mb-0 me-1 mt-2 mt-md-0"
                      >LogOut</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>
      </div>
    </div>

    <!-- !==========POSTLIST=========== -->
    <div class="container mt-5 pt-5">
      <div class="row pt-5">
        <div class="col-7">
          <%posts.forEach(post => { %>

          <div class="card mb-3">
            <a href="/post/<%= post._id%>">
              <div class="d-flex flex-row">
                <div
                  class="col-3 border-radius-lg m-2"
                  style="height: 150px; overflow: hidden"
                >
                  <img
                    src="<%= post.imageUrl%>"
                    class="w-100 shadow-lg"
                    alt="..."
                    style="margin-bottom: 10px; "
                  />
                  
                </div>
                  
                <div class="card-body">
                  <h5 class="card-title"><%= post.title%></h5>
                  <p class="card-text"><%= post.description%></p>

                  <p class="mb-0">Posted 10 mins ago by <%= post.userName%></p>
                  
                </div>
                
              </div>
            </a>
          </div>
          <%}) %>
        </div>

        <!-- !====================================================== -->
        <div class="col-5">
          <!-- !User Card -->
          <div class="card card-profile my-4">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mt-n5">
                <div class="p-3 pe-md-0">
                  <img
                    class="w-100 border-radius-md shadow-lg"
                    src="<%=user.avatar%>"
                    alt="User Avatar"
                  />
                </div>
              </div>
              <div class="col-lg-8 col-md-6 col-12 my-auto">
                <div class="card-body ps-lg-0">
                  <h5 class="mb-0"><%=user.name%></h5>
                  <h6 class="text-info"><%=user.email%></h6>

                  
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    

  
    <%-include('partials/scripts')-%>
  </body>
</html>

